* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
//    align-items: center;
    justify-content: center;
    background: rgb(3, 3, 3);
    
    .container {
        height: 10rem;
        width: 20rem;
        display: flex;
        align-items: center;
        justify-content: center;

        .text{
            height: 100%;
            width: 100%;
            font-size: 6rem;
            text-align: center;
            text-transform: uppercase;
            font-weight: bolder;
            background: url(/images/tiles.gif);
            background-size: 80% 80%;
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
        }
    }
}