* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bowlby One SC', cursive;
    font-size: 30px;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    background: rgb(224, 224, 224);
    flex-direction: column;
    align-items: center;   
    
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 10rem;
        
        .container {
            height: 8rem;
            width: 20rem;
            display: flex;
            align-items: center;
            justify-content: center;

            .name{
                font-size: 3rem;
                text-align: center;
                text-transform: uppercase;
                font-weight: bolder;
                background: url(/images/tiles.gif) no-repeat center center;
                background-size: 100% 100%;
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
                background-clip: text;
            }
        }
        .textrotate {
            text-align: center;
            position: relative;
            top: -2rem;
            h2 {
                font-size: 1rem;
                span {
                    color: rgb(207, 91, 57);
                    display: none;
                    font-size: 1.3rem;
                }
            } 
        }
    }
}